body{
    background-repeat: no-repeat; background-size: cover;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
header{
 background-image: url('head.jpg');
 height: 150px;
}
#pageName{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 50px; 
    color:magenta;
    font-style: Arial;
}
#playerName{
 display:none ;
}
.container{
    display: flex;
}